@import '/src/main.scss';

.cell {
  @include cell;

  justify-content: center;

  // Everyone cool your jets. This is for funzies - ❤️, Andrew
  &:focus,
  &:hover {
    cursor: zoom-in;
  }
}

.selected {
  background-color: skyblue;
}
