@import '/src/main.scss';

.wrap {
  position: relative;
  width: 340px;
  height: 631px;
  padding: 13px;
  margin: 0 auto;
  border: 5px solid white;
  border-radius: 4px;
  background-color: steelblue;

  @media (min-width: 420px) {
    margin-top: 80px;
  }
}

.clear {
  position: absolute;
  top: 20px;
  right: 15px;
  border: none;
  background-color: transparent;
  font-size: 30px;
  text-shadow: 0 2px 10px rgba(black, 0.25);

  &:focus,
  &:hover {
    cursor: pointer;
  }
}

.title {
  font-family: impact, sans-serif;
  line-height: 1;
  margin: 10px 0;
  color: white;
  text-shadow: 0 2px 10px rgba(black, 0.25);
  text-transform: uppercase;
}

.cell,
.leftCell {
  @include cell;
}

.leftCell {
  width: 100px;
  margin-right: auto;
  text-align: left;
}

.row {
  display: flex;
  justify-content: center;
}

.players,
.sectionTitle,
.sectionItem {
  line-height: 1;
  margin: 0;
  margin-right: auto;
  padding-left: 5px;
}

.players,
.sectionTitle {
  text-transform: uppercase;
}

.players {
  font-size: 14px;
}

.sectionTitle {
  font-size: 16px;
  font-weight: 900;
}

.sectionItem {
  width: 100px;
  text-align: left;
  font-size: 12px;
  font-style: italic;
  background-color: white;
}

.green {
  background-color: forestgreen;
}

.mustard {
  background-color: orange;
}

.orchid {
  background-color: mediumorchid;
}

.peacock {
  background-color: mediumblue;
}

.plum {
  background-color: indigo;
}

.scarlet {
  background-color: crimson;
}
