@import '/src/main.scss';

.wrap {
  position: relative;
  width: 340px;
  height: 631px;
  padding: 13px;
  margin: 0 auto;
  border: 5px solid white;
  border-radius: 4px;
  background-color: steelblue;

  @media (min-width: 420px) {
    margin-top: 80px;
  }
}

.breakout {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  padding-top: 33%;
  width: 100%;
  height: calc(100% - 18%);
  background-color: rgba(white, 0.75);
  z-index: 1;
}

.clearText,
.button {
  @include shadow;
}

.buttons {
  display: flex;
  justify-content: space-around;
}

.button {
  font-size: 40px;
  border: none;
  background-color: transparent;
}

.inner {
  position: relative;

  &.blur {
    filter: blur(1px);
  }
}

.clear {
  @include shadow;

  position: absolute;
  top: -6px;
  right: 0;
  border: none;
  background-color: transparent;
  font-size: 30px;

  &:focus,
  &:hover {
    cursor: pointer;
  }
}

.title {
  @include shadow;

  font-family: impact, sans-serif;
  line-height: 1;
  margin: 10px 0;
  color: white;
  text-transform: uppercase;
}

.cell,
.leftCell {
  @include cell;
}

.leftCell {
  width: 100px;
  margin-right: auto;
  text-align: left;
}

.row {
  display: flex;
  justify-content: center;
}

.players,
.sectionTitle,
.sectionItem {
  line-height: 1;
  margin: 0;
  margin-right: auto;
  padding-left: 5px;
}

.players,
.sectionTitle {
  text-transform: uppercase;
}

.players {
  font-size: 14px;
}

.sectionTitle {
  font-size: 16px;
  font-weight: 900;
}

.sectionItem {
  width: 100px;
  text-align: left;
  font-size: 12px;
  font-style: italic;
  background-color: white;
}

.green {
  background-color: forestgreen;
}

.mustard {
  background-color: orange;
}

.orchid {
  background-color: mediumorchid;
}

.peacock {
  background-color: mediumblue;
}

.plum {
  background-color: indigo;
}

.scarlet {
  background-color: crimson;
}

.link {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 14px;
  color: blue;
  font-size: 12px;
  text-decoration: none;
}
